// Typography

.lead {
  font-size: 1.2em;
}

.text-lg {
  font-size: 1.1em;
}

.text-gray {
  color: $gray;

  &:hover {
    color: darken($gray, 10%);
  }
}

// Hero header

.hero {
  &-title {
    margin-bottom: 2rem;
    font-size: 3.2rem;
    font-weight: 600;
    line-height: .9;
    color: $white;
  }
  &-logo {
    margin-bottom: 2rem;
    height: 4rem;
  }
}

@media (min-width: 48em) {
  .hero {
    &-title {
      font-size: 6rem;
    }
    &-logo {
      height: 8rem;
    }
  }
}

// Articles

article {
  & h5 {
    text-decoration: underline;
    margin-bottom: 1.2rem;
  }

  & figcaption {
    text-align: center;
    font-style: italic;
    margin-top: .6rem;
    color: $gray;
  }
}
